Repository mquangcao/web-ia06-user-registration-api-with-react: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix --workspace=apps/api, npm run lint:fix --workspace=apps/web, npm run lint:fix --workspace=libs/core, npm run lint:fix --workspace=libs/common

feat(core): add Prettier configuration and format scripts
  .lintstagedrc.js
  .prettierrc
  apps/api/.prettierrc.cjs
  apps/api/package.json
  apps/web/.prettierrc.cjs
  apps/web/package.json
  apps/web/prettier.config.mjs
  libs/common/.prettierrc.cjs
  libs/common/package.json
  libs/common/src/utils/nest/index.ts
  libs/common/tsconfig.tsbuildinfo
  libs/core/.prettierrc.cjs
  libs/core/package.json
  libs/eslint-config/nest.js
  libs/prettier-config/nest.json
  libs/prettier-config/package.json
  libs/prettier-config/react.json
  package-lock.json
  package.json
Due: npm run lint:fix --workspace=apps/api, npm run lint:fix --workspace=apps/web, npm run lint:fix --workspace=libs/core, npm run lint:fix --workspace=libs/common

fix(api): reorder import statements in e2e test file
  apps/api/test/app.e2e-spec.ts
  libs/common/src/docs/swagger.ts
Due: npm run lint:fix --workspace=apps/api, npm run lint:fix --workspace=libs/common

chore(web): add typescript-config to devDependencies
  apps/web/package.json
  package-lock.json
Due: npm run lint:fix --workspace=apps/web

feat(api): add initial docker-compose configuration
  .dockerignore
  docker-compose.yml
Due: none

chore(eslint): update ESLint configuration and add .eslintignore
  libs/common/eslint.config.js
  libs/core/eslint.config.js
  libs/eslint-config/nest.js
Due: npm run lint:fix --workspace=libs/core, npm run lint:fix --workspace=libs/common

feat(project): add env vars for CORS and API base URL
  apps/web/tsconfig.app.tsbuildinfo
  libs/common/.gitignore
  libs/common/tsconfig.tsbuildinfo
  libs/core/tsconfig.tsbuildinfo
  render.yaml
Due: npm run lint:fix --workspace=apps/web, npm run lint:fix --workspace=libs/core, npm run lint:fix --workspace=libs/common

refactor(api): rename backend and frontend services in render.yaml
  README.md
  apps/api/Dockerfile
  apps/api/config/custom-environment-variables.js
  apps/api/config/default.js
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/lib/config.ts
  apps/api/src/main.ts
  apps/api/src/user/dto/register-user.dto.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.entity.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/app.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/form.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/main.tsx
  apps/web/src/pages/home.tsx
  apps/web/src/pages/login.tsx
  apps/web/src/pages/signup.tsx
  package-lock.json
  render.yaml
Due: npm run lint:fix --workspace=apps/api, npm run lint:fix --workspace=apps/web

fix: docker backend fix husky
  apps/api/Dockerfile
Due: npm run lint:fix --workspace=apps/api

fix: fix fe Docker file, husky ignore
  apps/web/Dockerfile
Due: npm run lint:fix --workspace=apps/web

Update Dockerfile to install dependencies
  apps/web/Dockerfile
Due: npm run lint:fix --workspace=apps/web

Remove 'prepare' script from package.json
  package.json
Due: none

Optimize Dockerfile by simplifying npm commands
  apps/web/Dockerfile
Due: npm run lint:fix --workspace=apps/web

Fix formatting of check-types script in package.json
  package.json
Due: none

fix(web-Dockerfile): change npm install to include optional dependencies
  apps/web/Dockerfile
Due: npm run lint:fix --workspace=apps/web

fix(web-Dockerfile): add rollup dependency installation step
  apps/web/Dockerfile
Due: npm run lint:fix --workspace=apps/web

fix(web-Dockerfile): add lightningcss dependency installation step
  apps/web/Dockerfile
Due: npm run lint:fix --workspace=apps/web

fix(web-Dockerfile): replace npm install with npm ci for dependencies
  apps/web/Dockerfile
Due: npm run lint:fix --workspace=apps/web

fix(web-Dockerfile): change npm ci to npm install for dependencies
  apps/web/Dockerfile
Due: npm run lint:fix --workspace=apps/web

fix(web-Dockerfile): consolidate installation of platform-specific modules
  apps/web/Dockerfile
Due: npm run lint:fix --workspace=apps/web

Path conditions:
  npm run lint:fix --workspace=apps/api: any of: apps/api/**/*
  npm run lint:fix --workspace=apps/web: any of: apps/web/**/*
  npm run lint:fix --workspace=libs/core: any of: libs/core/**/*
  npm run lint:fix --workspace=libs/common: any of: libs/common/**/*
